@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>resume8</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<style type="text/css">

        media only screen and (max-width: 475px) {
            .img{
                top: 100px;
            }
    }
</style>

<body style="padding:0px; margin:0px;">

    <section>
        <div>
            <div style="width:100%; background-color:#35363A ; color: white; overflow: hidden;">
                <h1 style=" text-transform:uppercase ;color:white;padding: 70px 10px 10px 70px; font-family: 'Josefin Sans', sans-serif; font-size:60px; font-weight: 600;margin: 0;"><b>SOHAIB ALI</b><br>BAJWA</h1>
            </div>

            <div style=" width:100%; color: white; background-color:#2BBEC0; overflow: hidden;  font-family: 'Josefin Sans', sans-serif; text-transform:uppercase;">
                <p style="padding-left:70px; font-size:1rem;">Web Developer</p>
            </div>

            <div style="width: 100%; background-color:#E7E9EC; overflow: hidden; ">
                <div class="profile" style="margin: 0px 70px;">
                    <h2 style=" padding:20px 0px 10px 0px; ">PROFILE</h2>
                    <p style="font-size: 14px; padding-bottom:30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim viverra nibh sed varius. Proin bibendum nunc in sem ultrices posuere. Aliquam ut aliquam lacusLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim viverra nibh sed varius. Proin bibendum nunc in sem ultrices posuere. Aliquam ut aliquam lacus </p>
                </div>
            </div>
            <div>
                <img class="img" style="width:250px; height:250px; border-radius:50%; border: 10px solid white; position:absolute; top:70px; right: 10%" src="~/Content/Images/cv.jpg">
            </div>

            <div style="width:100%; display: flex; padding-top: 20px; background-color:#white; font-family: Helvetica;">

                <div style=" width:calc(100% - 70%); padding: 0px 25px 25px 70px;">
                    <h4 style=" width: 45%; font-size:24px; text-transform:uppercase;padding: 5px; border-bottom: 3px solid black;">
                        contact
                    </h4>
                    <div style="margin: 50px 0px; color: black; border-bottom:3px solid #8D8D8D;">
                        <div style="margin: 0px 0px 20px 0px; ">
                            <i class="fas fa-phone" style="padding: 5px;"> </i> +11 444 555 22 33
                        </div>
                        <div style="margin: 20px 0px;">
                            <i class="fas fa-home" style="padding: 5px;"> </i> 111 Lorem Street, 34785, Ipsum City
                        </div>

                        <div style="margin: 20px 0px;">
                            <i class="fas fa-envelope" style="padding: 5px;"> </i> johnsmith@business.com
                        </div>

                        <div style="margin: 20px 0px 50px 0px">
                            <i class="fab fa-internet-explorer" style="padding: 5px;"> </i> www.businessweb.com
                        </div>
                    </div>
                    <h4 style=" width: 45%; font-size:24px; text-transform:uppercase;padding: 5px; border-bottom: 3px solid black;">
                        Skills
                    </h4>
                    <div style="margin: 50px 0px; color: black; border-bottom:3px solid #8D8D8D;">
                        <div style="margin: 50px 0px; padding-left: 0px; color: black font-size: 36px;">
                            <ul style="padding-left: 30px;">
                                <li style="margin-top:20px;">Communication</li>
                                <li style="margin-top:20px;">Creativity</li>
                                <li style="margin-top:20px;">Teamwork</li>
                                <li style="margin-top:20px;">Organization</li>
                                <li style="margin-top:20px;">Teamplayer</li>
                                <li style="margin-top:20px;">Leadership</li>
                            </ul>
                        </div>
                    </div>


                    <h4 style="width: 55%; font-size:24px; text-transform:uppercase;padding: 5px; border-bottom: 3px solid black;">
                        Refrences
                    </h4>
                    <div style="margin: 50px 0px; color: black;">
                        <div style="margin: 50px 0px; padding-left: 15px; color: black">
                            <h4 style="font-size: 18px; font-weight: 600; margin: 0
                          margin-bottom: 15px;">
                                Willian Khelman
                            </h4>
                            <p style=" font-size: 16px; margin: 0; margin-bottom: 5px;">Director: Mascow Media Industry</p>
                            <p style=" font-size: 16px; margin: 0; margin-bottom: 5px;">Phone: +555 123 5566</p>
                            <p style=" font-size: 16px; margin: 0; margin-bottom: 5px;">Email: williamKhelman@gmail.com</p>
                        </div>
                    </div>
                </div>

                <div style="width:65%; padding: 0px 70px 25px 25px; border-left: 3px solid #8D8D8D; ">


                    <div style=" padding-bottom: 25px; border-bottom: 3px solid #8D8D8D;">
                        <h4 style=" width: 30%; border-bottom:3px solid black ;  font-size:24px; text-transform:uppercase; margin: 40px 0px;">
                            education
                        </h4>
                        <div style="display: flex; align-items: flex-start; justify-content: space-between; margin-top: 40px; ">
                            <div style="width: 30%;">
                                <h4 style="color: black; margin: 0; font-size: 18px; font-weight: 600; margin-bottom: 20px;">University of Lorem</h4>
                                <p style="font-weight: 500; font-size: 16px; color: black; margin: 0;">2008 - 2010</p>
                            </div>
                            <div style="width: 65%;">
                                <h4 style="color: black; margin: 0; font-size: 18px; font-weight: 600; margin-bottom: 20px;">Certificate of Web Training</h4>
                                <p style="color: black; font-size: 16px; margin-top: 20px;text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                        <div style="display: flex; align-items: flex-start; justify-content: space-between; margin-top: 20px;">
                            <div style="width: 30%;">
                                <h4 style="color: black; margin: 0; font-size: 18px; font-weight: 600; margin-bottom: 20px;">University of Lorem</h4>
                                <p style="font-weight: 500; font-size: 16px; color: black; margin: 0;">2006 - 2008</p>
                            </div>
                            <div style="width: 65%;">
                                <h4 style="color: black; margin: 0; font-size: 18px; font-weight: 600; margin-bottom: 20px;">Bachelor of Art Director</h4>
                                <p style="color: black; font-size: 16px; margin-top: 20px;text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                        <div style="display: flex; align-items: flex-start; justify-content: space-between; margin-top: 20px;">
                            <div style="width: 30%;">
                                <h4 style="color: black; margin: 0; font-size: 18px; font-weight: 600; margin-bottom: 20px;">University of Lorem</h4>
                                <p style="font-weight: 500; font-size: 16px; color: black; margin: 0;">2006 - 2008</p>
                            </div>
                            <div style="width: 65%;">
                                <h4 style="color: black; margin: 0; font-size: 18px; font-weight: 600; margin-bottom: 20px;">Bachelor of Art Director</h4>
                                <p style="color: black; font-size: 16px; margin-top: 20px;text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                    </div>

                    <div style="  border-bottom: 3px solid #8D8D8D; padding-bottom: 25px;">
                        <h4 style=" width: 30%; border-bottom:3px solid black ; font-size:24px; text-transform:uppercase; margin: 50px 0px;">
                            experience
                        </h4>
                        <div style="display: flex; align-items: flex-start; justify-content: space-between; margin-top: 40px; ">
                            <div style="width: 30%;">
                                <h4 style="color: black; margin: 0; font-size: 18px; font-weight: 600; margin-bottom: 20px;">University of Lorem</h4>
                                <p style="font-weight: 500; font-size: 16px; color: black; margin: 0;">2008 - 2010</p>
                            </div>
                            <div style="width: 65%;">
                                <h4 style="color: black; margin: 0; font-size: 18px; font-weight: 600; margin-bottom: 20px;">Certificate of Web Training</h4>
                                <p style="color: black; font-size: 16px; margin-top: 20px;text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                        <div style="display: flex; align-items: flex-start; justify-content: space-between; margin-top: 20px;">
                            <div style="width: 30%;">
                                <h4 style="color: black; margin: 0; font-size: 18px; font-weight: 600; margin-bottom: 20px;">University of Lorem</h4>
                                <p style="font-weight: 500; font-size: 16px; color: black; margin: 0;">2006 - 2008</p>
                            </div>
                            <div style="width: 65%;">
                                <h4 style="color: black; margin: 0; font-size: 18px; font-weight: 600; margin-bottom: 20px;">Bachelor of Art Director</h4>
                                <p style="color: black; font-size: 16px; margin-top: 20px;text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                        <div style="display: flex; align-items: flex-start; justify-content: space-between; margin-top: 20px;">
                            <div style="width: 30%;">
                                <h4 style="color: black; margin: 0; font-size: 18px; font-weight: 600; margin-bottom: 20px;">University of Lorem</h4>
                                <p style="font-weight: 500; font-size: 16px; color: black; margin: 0;">2006 - 2008</p>
                            </div>
                            <div style="width: 65%;">
                                <h4 style="color: black; margin: 0; font-size: 18px; font-weight: 600; margin-bottom: 20px;">Bachelor of Art Director</h4>
                                <p style="color: black; font-size: 16px; margin-top: 20px;text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4 style=" width: 30%; font-size:24px;margin: 50px 0px; border-bottom: 3px solid black; text-transform:uppercase;">
                            objective
                        </h4>
                        <p style="text-align:justify; padding-bottom: 25px;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

            </div>
            <div style="width :100%; height:25px;margin-top: 30px; background-color:#2BBEC0; "></div>
        </div>

    </section>

</body>
</html>